 <!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css'>

  </head>

  <body class="home">
   

  <h1 class="greeting">My name is Tyler Bowerman, I am a developer student at Epicodus.</h1>
  <!-- <%= image_tag "cave.jpeg", :size => "1680x850" %> -->
    <%= yield %>
  </body>
</html>




