<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
</head>
<body class="resume">
  <ul>
    <h3>Tyler Bowerman</h3>
    <h4>4626 Dark Forest Pl NE, Salem, OR 97305</h4>
    <h4>(503) 383-5339</h4>
    <a href="mailto:tylerbowerman@yahoo.com">tylerbowerman@yahoo.com</a>
  </ul>
  <DIV STYLE="background-color:#000000; height:2px; width:100%;"></DIV>
  <br>
  <div class="col-md-5">
    <ul class="work">
      <h4><b>Work Experience</b></h4> 
      <h5><em><b>Emergency Department Technician</b></em></h5>
      <h5><em>Providence Willamette Falls Medical Center</em></h5>
      <h5>August 2019 - Present</h5>
      <h5><b>Duties:</b></h5>
      <li>Collect blood samples using venipuncture.</li>
      <li>Insert indewelling foley catheters.</li>
      <li>Perform urine analysis and pregnacy tests.</li>
      <li>Procedural set-up for physicans and nurses.</li>
      <li>Comunicate abnormal findings i.e. vital signs lab values or abnormal behaviors <br> and impaired cognitive function.</li>
      <h5>Contact: Karen Jeffrey-Markowski <br> (503) 650-1441</h5>
    </ul>
  </div>
    <div class="col-md-5">
      <ul  class="skill">
        <h4><b>Skills</b></h4>
        <li>Ability to multitask in a fast paced enviroment.</li>
        <li>Perform delicate tasks in high stress situations.</li>
        <li>Organize tasks based on priority in a critical manner.</li>
        <li>Find solutions to problems through critical thinking.</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="ints">
        <h4><b>Interests</b></h4>
        <li>Playing Rugby</li>
        <li>Hiking at Silver Falls</li>
        <li>Reading books.</li>
        <li>Studying code language documents</li>
      </ul>
    </div>
    <div class="col-md-5">
      <ul class="ED">
        <h4><b>Education</b></h4>
        <h6>Epicodus Ruby and Rails track</h6>
        <h6>March 2020 - Sept 2020</h6>
        *800 hours of experience with:*
        <li>HTML, CSS, Javascript, Bootstrap, Jquery.</li>
        <li>Ruby on Rails</li>
        <li>React</li>
      </ul>
    </div>
</body>
</html>