<h1 class="proj">Below I have listed projects that I worked on while at Epicodus including their links</h1>

<div class="container">
  <ul>
    <h4> <a href="https://stoic-benz-db0844.netlify.app/">DND random encounter generator</a> </h4>
    <h6><a href="https://github.com/bowty14/random-encounter-generator.git">See documentation for this project here</a></h6>
    <br>
    <h4><a href="https://pensive-goldwasser-dd3f8d.netlify.app/">Random cocktail generator</a></h4>
    <h6><a href="https://github.com/bowty14/randomCocktail.git">See documentation for this project here</a></h6>
    <br>
    <h4><a href="https://silly-liskov-17a088.netlify.app">Monster Fight Club</a></h4>
    <h6><a href="https://github.com/bowty14/Monster-Fight-Club.git">See documentation for this project here</a></h6>
    <h4><a href=""></a></h4>
    <h4><a href=""></a></h4>
  </ul>
</div>

