@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  margin-top: .5%;
}
.container-fluid {
  background-color: lightsteelblue;
}
body {
  background-image: linear-gradient(deepskyblue, tomato);
  font-family: American Typewriter, serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home {
  background-image: url('/assets/cave.jpeg')
}

#greeting {
  color: black;
}
.phto{
  margin-top: 40%;
  color: white;
}
.jumbotron {
 background-color: lightsteelblue;
  text-align: center;
}
.proj {
  text-align: center;
}
#assignments {
  text-align: center;
}
link{
  color: black;
}
.resume {
  text-align: center;
}
.work {
  text-align: justify;
  list-style-position: inside;
  border: black;
  border-style: groove;
  background-color: moccasin;
}
.skill {
  text-align: center;
  text-align: justify;
  list-style-position: inside;
  border: black;
  border-style: groove;
  background-color: moccasin;
}
.ints {
  text-align: center;
  text-align: justify;
  list-style-position: inside;
  border: black;
  border-style: groove;
  background-color: moccasin;
}
.ED {
  text-align: center;
  text-align: justify;
  list-style-position: inside;
  border: black;
  border-style: groove;
  background-color: moccasin;
}
.nme {
  text-align: center;
}
.desc {
  font-family: American Typewriter, serif;
  color: black;
}
#abtme {
  background-color: white;
  text-align: center;
  list-style-position: inside;
  border: black;
  border-style: groove;
  opacity: 60%;
}
a {
  color: black;
}
a:hover {
  color: orange;
}
