

<html>
  <head>
    <title>About me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css'>

  </head>

  <body>
   <h1 class="nme">About me</h1>
    <div class="col-md-12" id="abtme">
      <ul class="desc">
        <h3>I come from a medical background, mostly emergency medicine where</h3> <br> 
        <h3>the pace is very fast andthe environment can change at any time.</h3> <br> 
        <h3>I was at one point a traveling nures assistant, with that I traveled to different</h3> <br> 
        <h3>facilities and had to adapt very quickly to the environment and learn where everything was at in ashort amount of time.</h3><br> 
        <h3>I decided I wanted to get into programming after I realized that I had exhausted all means to advance in my currentcareer.</h3> <br> 
        <h3>I reached out to a friend and she reccomended that I enroll into Epicodus.</h3><br> 
        <h3>I have enjoyed my journey through Epicodus, Ruby is definetly my favorite coding language at the moment.</h3> <br> 
        <h3>If where I getmy first job requires me to learn a new language I will welcome it as an opportunity to highten my skills andbecome a better programmer.</h3>
      </ul>
    </div>
  
 
    <%= yield %>
  </body>
</html>
