

<html>
  <head>
    <title>About me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css'>

  </head>

  <body>
   

  <h1 class="jumbotron">I come from a medical background, mostly emergency medicine where <br> the pace is very fast and the environment can change at any time. <br> I was at one point a traveling nures assistant, with that I traveled to different <br> facilities and had to adapt very quickly to the environment and learn where everything was at in a short amount of time.</h1>
 
    <%= yield %>
  </body>
</html>
