

<html>
  <head>
    <title>About me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css'>

  </head>

  <body>
   <h1 class="nme">About me</h1>
    <div class="col-lrg-5" id="abtme">
      <ul>
        <h3>I come from a medical background, mostly emergency medicine where <br> the pace is very fast and
          the environment can change at any time. <br> I was at one point a traveling nures assistant, with that I traveled to
          different <br> facilities and had to adapt very quickly to the environment and learn where everything was at in a
          short amount of time.<br> I decided I wanted to get into programming after I realized that I was getiing burnt out
          from the medical field. <br> I reached out to a friend and she reccomended that I enroll into Epicodus. <br> I have
          enjoyed my journey through Epicodus, Ruby is definetly my favorite coding language at the moment. <br> If where I get
          my first job requires me to learn a new language I will take it as an opportunity to highten my skills and become a
          better programmer.</h3>
      </ul>
    </div>
  
 
    <%= yield %>
  </body>
</html>
